*.orig
*.sav
.client_*
.server_*
clients/icommands/bin
config/irodsEnv.boot
config/config.mk
config/installPostgres.config
config/irods.config
config/platform.mk
irodsctl
modules/extendedICAT/extendedICAT.h
pgsql
postgresql-9.2.4
server/bin
server/config/server.config
server/icat/src/icatCoreTables.sql
server/icat/src/icatSysTables.sql
server/re/include/reAction.h
server/test/bin
Vault
